@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0e9e2c;
}

body {
  background: #162025;
  overflow-x: hidden;
}

/* list items hover effect */
.list_items > li {
  position: relative;
  transition: 0.4s;
  line-height: 36px;
  color: white;
}
.list_items > li:hover {
  color: var(--primary);
  cursor: pointer;
}
.list_items > li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background: var(--primary);
  top: 100%;
  left: 0;
  transition: 0.4s;
}
.list_items > li:hover::before {
  width: 100%;
  transform: translateX(1);
}

/* title section styling */
.primary_title {
  @apply text-5xl xl:text-7xl text-white font-bold tracking-wider;
}
.description_title {
  @apply text-base xl:text-lg text-gray-300 font-normal tracking-wider;
}

/* vertically and horizontally center class */
.center {
  @apply flex items-center justify-center;
}

/* custom button styling */
.primary_button {
  height: 50px;
  padding: 0 30px 0 30px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  image_box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: all 0.4s;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.primary_button:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}

/* landing page image effect */
.image_box::before {
  content: "";
  position: absolute;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  inset: -10px 140px;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.image_box:hover::before {
  inset: -20px 0;
}

@media screen and (max-width: 992px) {
  .image_box::before {
    inset: -10px 90px;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image_box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}
.imageBox_content {
  position: absolute;
  inset: 30px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

/* button styling */
.primary_btn {
  height: 50px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.4s;
  border: 2px solid var(--primary);
  border-radius: 6px;
  box-shadow: inset 0 0 0 0 var(--primary);
}

.primary_btn:hover {
  color: white;
  box-shadow: inset 0 0 100px 100px var(--primary);
}

.primary_btn:active {
  transform: scale(0.9);
}

/* progress bar styling */
.skill_line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  animation: progress 1s;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
